#schemesContainer {
    margin-top: 20px;
  	width: 100%;
  	display: grid;
  	grid-template-columns: repeat(6, calc(100% / 6));
  	grid-template-rows: repeat(3, 1fr);
    height: 75%;
}

#grid1 {
    grid-row: 1;
    grid-column: 1 / span 6;
}

#grid2 {
    grid-row: 2;
    grid-column: 1 / span 2;
}

#grid3 {
    grid-row: 2;
    grid-column: 3 / span 2;
}

#grid4 {
    grid-row: 2;
    grid-column: 5 / span 2;
}

#grid5 {
    grid-row: 3;
    grid-column: 1 / span 3;
}

#grid6 {
    grid-row: 3;
    grid-column: 4 / span 3;
}